/nbproject/
/thinkphp/
/vendor/
/runtime/*
/application/admin/command/Install/*.lock

#/application/config.php

.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
/runtime
/application/extra/addons.php
/public/assets/js/addons.js

 
/runtime
